openclaw-n8n/example-webhook-to-openclaw.workflow.json
{
  "name": "OpenClaw Agent Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-agent",
        "responseMode": "responseNode"
      },
      "id": "webhook-openclaw-agent",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "command": "powershell.exe -ExecutionPolicy Bypass -File \"C:\\Users\\nando\\Documents\\apPatatas\\openclaw-n8n\\call-openclaw-agent.ps1\" -Agent \"n8n-arquitecto\" -Message \"={{$json.body.prompt || $json.prompt || 'Hola'}}\""
      },
      "id": "execute-openclaw-agent",
      "name": "Call OpenClaw Agent",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"result\": $json.stdout, \"error\": $json.stderr, \"exitCode\": $json.exitCode } }}"
      },
      "id": "respond-openclaw-agent",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call OpenClaw Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenClaw Agent": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
